---
layout: page
title: "About"
description: "Hello, I'm Lulu"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>你好，我叫朱噜噜。 <br>
    我写代码，也尝试各种有趣的东西。 </p></blockquote>

    <p>(｡･∀･)ﾉﾞ嗨，我是<strong>朱噜噜</strong>，程序员。<br>
    	我写过C，做过嵌入式开发。我也写过Java，做过后台开发。我还倒腾过一点Python, C++。<br>
    	目前我感兴趣的是移动开发。工作是从事Andriod软件开发，同时也在学习Web前端。<br>
    	</p>

    <h5>Motto</h5>
    		一个人只拥有此生此世是不够的，他还应该拥有诗意的世界。<br>
				除了诗和远方，他还需要一场马拉松和六块腹肌。<br>
				也需要摇滚，蓝调，R&B，爵士，嘻哈和民谣。
    <ul>
 <!--   <li><a href="//links">title</a></li>
   
   -->
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Hey, I'm Lulu. <br>
    I code. I try a lot of interesting things. </p></blockquote>

    <p>Hi, I am <strong>Zhu Jun</strong>，you can call me <strong>Lulu</strong>. I'm a coder.<br>
    	I focus on Android Software Development. I like to try every latest software technique.
    	</p>

    
    <h5>Motto</h5>
			We don't read and write poetry because it's cute. We read and write poetry because we are members of the human race.
			And the human race is filled with passion. And medicine, law, business, engineering, these are noble pursuits and necessary to sustain life.
			But poetry, beauty, romance, love, these are what we stay alive for.		<br>	
			——Dead Poets Society
    <ul>
 <!--   <li><a href="//links">title</a></li>
   
   -->
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
